* {
  margin: 0;
  padding: 0;
}

.homefirstsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 120%;
}

p {
  width: 494px;
  color: #787c83;
  font-size: 16px;
  margin: 30px 0;
}

.getintouch {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.getintouch button {
  display: flex;
  width: 60px;
  flex-direction: column;
  background-color: #18122f;
  color: #fff;
  letter-spacing: -0.01rem;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.75rem;
  height: 7.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}

.homesecondsec,
.homethirdsec,
.columnssec,
.home4sec {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.homesecondsec h1:nth-child(1) {
  margin-left: 50px;
}

.homethirdsec h1:nth-child(1) {
  margin-left: 50px;
}
.home4sec h1:nth-child(1) {
  margin-left: 50px;
}
.sparkbox {
  display: flex;
  margin-left: 200px;
  gap: 10px;
}

.homesecondsec p {
  margin-top: 3.25rem;
  margin-left: auto;
  margin-right: 50px;
  width: 900px;
  font-size: 2.25rem;
  line-height: 130%;
}

.sparkbox h1 {
  color: #7158dc;
}

.sparkimg {
  border-radius: 2.5rem;
  width: 100%;
  max-width: 38.125rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: 50px;
}

.columns {
  display: flex;
  gap: 10px;
  margin-left: 30px;
  padding: 16px 32px;
}

.columns p:nth-child(1) {
  width: 130px;
  text-align: center;
  color: #e4e5ed;
  min-width: 8.125rem;
  font-size: 6.25rem;
  line-height: 120%;
}
hr {
  color: #e4e5ed;
  margin: 0 70px;
}
.columnstext {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columnstext h3,
p {
  margin: 0;
}

.columnstext h3 {
  font-size: 3.375rem;
  line-height: 120%;
  font-weight: 400;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  text-decoration: none;
}
.contact {
  padding: 10px 20px;
  color: #fff;
  background-color: #18122f;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.contact:hover {
  background-color: #fff;
  border: 1px solid #18122f;
  color: #18122f;
}

.strategycolumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 100px 0;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.boxes_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logoimg {
  width: 50px;
  height: 50px;
}

.littlebox {
  display: flex;
  gap: 10px;
}

.mainimg {
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}